.rewards-dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    width: 100%;
    transform: scale(0.2);
    transition: all 0.3s ease;
    visibility: hidden;
    padding-top: 50px;
}

.rewards-dialog.is-open {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.rewards-dialog {
    .job-result {
        background: radial-gradient(circle, rgb(50, 50, 50) 15%, rgba(30, 30, 30) 68%);
        border-radius: 20px 20px 20px 20px;
        border: 1px outset rgb(30, 30, 30);
        padding-inline: 40px;
        padding-bottom: 20px;
    }

    .d20 {
        height: 20px;
        width: 20px;
    }


    /* HTML: <div class="ribbon">Your text content</div> */
    .ribbon {
        font-size: 28px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
    }

    .ribbon {
        --r: .8em;
        /* control the cutout */

        border-block: .5em solid #0000;
        padding-inline: .5em calc(var(--r) + .25em);
        line-height: 1.8;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% calc(100% - .25em), calc(100% - var(--r)) 50%, 100% .25em);
        background:
            radial-gradient(.2em 50% at left, #000a, #0000) border-box,
            #b62020 padding-box;
        /* the color  */
        width: fit-content;
    }
}