@keyframes fadeInBackground {
    from {
        background-color: transparent;
        opacity: 0;
    }

    to {
        background-color: #3498db;
        opacity: 1;
    }
}

.dialog {
    margin-top: 20px;
    height: 820px;
    width: 100%;
}

.dungeon-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    animation: fadeInBackground 1s ease-in-out;
}

.dungeon-icon {
    height: 90%;
    width: 80px;
    border-radius: 100%;
}

.dungeon-background ul {
    --col-gap: 5rem;
    --barH: 1rem;
    --roleH: 2rem;
    --flapH: 2rem;

    margin-inline: auto;

    gap: var(--col-gap);
    padding-inline: calc(var(--col-gap) / 2);
}

.dungeon-background ul li {
    width: 10em;
    display: grid;
    grid-template:
        "role"
        "icon"
        "title"
        "descr";
    align-items: flex-start;
    gap: 1rem;
    padding-block-end: calc(var(--flapH) + 1rem);
    text-align: center;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
            rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
            rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
    clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
            50% 100%,
            calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.80);
}

/* bar */
.dungeon-background ul li::before {
    content: "";
    grid-area: role;
    height: var(--barH);
    width: calc(100% + var(--col-gap));
    margin-left: calc(var(--col-gap) / -2);
    margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
    background: grey;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
}

/* role */
.dungeon-background ul li::after {
    content: "";
    grid-area: role;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
    height: var(--roleH);
}

.dungeon-background ul li .icon,
.dungeon-background ul li .title,
.dungeon-background ul li .descr {
    padding-inline: 1rem;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.dungeon-background ul li .icon {
    font-size: 3rem;
}

.dungeon-background ul li .title {
    font-size: 1.25rem;
    font-weight: 700;
}

.dungeon-background ul li .descr {
    font-size: 0.9rem;
}