.game-container .dialog {
    left: 0 !important;
    top: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
    height: 100% !important;
    width: 100% !important;
    padding-block: 50px;
}

.shortcut-bar-modern {
    position: fixed;
    bottom: 15px;
    right: 0;
    height: 60px;
    width: 230px;
}

.shortcut-item-modern {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.90);
    border: 2px outset rgb(15, 15, 15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    box-shadow: inset 0 0 5px #000000;
    backdrop-filter: blur(5px);
    margin: 1px;
}

.shortcut-item-modern i {
    font-size: 30px;
    color: white;
}

.shortcut-item-modern img {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    filter: drop-shadow(4px 2px 1px #000000bd);
}

.shortcut-item-modern:hover img {
    transform: translateY(-3px) scale(1.1);
}

.shortcut-item-modern .badge {
    padding: 7px;
}