html {
    user-select: none;
}

.map-container {
    position: relative;
    overflow: hidden;
    background-color: black;
}

.map-frame {
    /*background-image: url('./world/map-frame.webp');*/
    position: fixed;
}

.character-info {
    position: fixed;
    top: 70px;
    left: 20px;
    width: 154px;
    background: radial-gradient(circle, rgba(88, 88, 88, 0.990) 15%, rgba(46, 46, 46, 0.990) 70%);
    border-radius: 10px 10px 10px 10px;
    border: 2px outset black;
    color: white;
}

.character-info .class-image {
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-bottom: 5px;
    border: 1px inset black;
    box-shadow: inset 0 0 5px #000000;
    padding: 0;
}

.character-info .character-name {
    margin: 0;
    padding: 0;
    height: 30px;
    background: radial-gradient(circle, rgb(51, 51, 51) 15%, rgb(20, 20, 20) 70%);
    border: 2px inset black;
    border-radius: 10px 10px 0 0;
}

.character-info .character-class-name {
    border-radius: 10px 10px 0 0;
    border: 1px inset rgb(15, 15, 15);
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.character-info .character-level {
    border-radius: 5px 5px 0 0;
    border: 1px inset rgb(15, 15, 15);
    padding: 2px;
}

.character-info .character-status {
    height: 60px;
}

.character-info .armor-class {
    background: url('../icons/items/shield.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    filter: invert(1) brightness(2);
    height: 30px;
}